

footer {
  align-items: center;
  background-image: $gradientfull;
  padding: 2.5rem;

  .paragraph24 {
    align-items: center;
  }

  p {
    opacity: 0.7;
    text-align: center;
  }
}

footer a:hover,
.footer-link h2:hover,
.footer-link h3:hover,
.footer-link h4:hover {
  transform: scale(1.15);
}

@media only screen and (min-width: 2000px) and (max-width: 3999px) {

  footer {
    padding: 5rem;
  }
}

@media only screen and (min-width: 4000px) {
  
  footer {
    padding: 10rem;
  }
}