nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-items: stretch;
  background-color: rgba($white, 0.25);
  backdrop-filter: blur($blur);
  top:0;
  left:0;
  z-index: 1000;
}

.nav-logo {
  height: 3rem;
}

.nav-items {
  width: stretch;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 1rem 20rem 1rem 20rem;
}

.menu-icon-hover,
.nav-icons:hover .menu-icon {
  display: none;
}

.nav-icons:hover .menu-icon-hover {
  display: flex;
}