a {
  text-decoration: none;
  font-weight: 800;
}

.external {
  text-decoration: underline;
}

.external:hover {
  color: #5768BE;
}

h1,
h2,
h3 {
  font-family: bebas neue;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 140px;
  line-height: 140px;
}

h2 {
  font-size: 64px;
  line-height: 64px;
}

h3 {
  font-size: 48px;
  line-height: 48px;
}

h4,
h5,
p,
small {
  font-family: bricolage grotesque;
  margin: 0;
}

h4 {
  font-size: 28px;
}

h5,
.about p {
  font-size: 22px;
}

p {
  font-weight: 500;
  font-size: 18px;
}
.small {
  font-weight: 500;
  font-size: 14px; 
}

ul {
  margin: 0;
}

.green {
  color: $green;
}

.red {
  color: $red;
}


@media only screen and (min-width: 4000px) {
  h1 {
    font-size: 440px;
    line-height: 440px;
  }

  h2 {
    font-size: 220px;
    line-height: 220px;
  }

  h3 {
    font-size: 160px;
    line-height: 160px;
  }

  h4 {
    font-size: 88px;
  }

  h5,
  .about p {
    font-size: 72px;
  }

  p {
    font-size: 64px;
  }

  .small {
    font-size: 48px; 
  }
}


@media only screen and (min-width: 2000px) and (max-width: 3999px) {
  h1 {
    font-size: 200px;
    line-height: 200px;
  }

  h2 {
    font-size: 80px;
    line-height: 80px;
  }

  h3 {
    font-size: 64px;
    line-height: 64px;
  }

  h4 {
    font-size: 40px;
  }

  h5,
  .about p {
    font-size: 32px;
  }

  p {
    font-size: 24px;
  }

  .small {
    font-size: 18px; 
  }
}


@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  }

  h3 {
    font-size: 32px;
    line-height: 32px;
  }

  h4 {
    font-size: 24px;
    line-height: 24px;
  }

  h5,
  .about p {
    font-size: 20px;
  }
}


@media only screen and (max-width: 700px) {

  h4 {
    font-size: 20px;
  }

  h5,
  .about p {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .small {
    font-size: 12px; 
  }
}

@media only screen and (max-width: 400px) {
/*   h1 {
    font-size: 80px;
    line-height: 80px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  } */

  h3 {
    font-size: 24px;
    line-height: 24px;
  }

}