$white: #FFFBF4;
$black: #0E0E0E;
$gradient: linear-gradient(to bottom right, rgba(#FF00D6, 0.6), rgba(#5768BE, 0.6), rgba(#61E8AF, 0.6));
$gradientpure: linear-gradient(to bottom right, #FF00D6, #5768BE, #61E8AF);
$blur: 20px;