@import './variables';
@import './typography';
@import './footer';
@import './topbar';


* {
  color: $black;
}

body {
  background-color: $white;
  margin: 2% 0 0 0;
}

.menu-body {
  margin: 0;
}

.main {
  margin: 0 20%;
}

body,
.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

img {
  max-width: 100%;
  border-radius: 16px;
}

.w60 {
  width: 60%
}

.cent {
  align-items: center;
  justify-content: center;

  h2,
  p {
    text-align: center;
  }
}

.hor {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav .hor {
  text-align: center;
}

.spaced {
  display: flex;
  justify-content: space-between;

  .paragraph08 {
    width: 50%;
  }

  img {
    border-radius: 0;
  }
}

hr {
  border: $border;
  width: 100%;
}

.paragraph40 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.paragraph24 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.paragraph08 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.paragraph0 {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.card {
  padding: 1rem;
  align-items: center;
  border: $border;
  border-radius: 16px;
  box-shadow: $shadow;

  img {
    height: 10rem;
    border-radius: 8px;
  }
}

.card:hover {
  background-image: $gradient;
  transition: 0.5s ease;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding-right: 2%;
  background-color: $black;
  border: $border;
  border-radius: 100px;
  height: 42px;
  min-width: 50%;

  h5 {
    color: $white;
  }

  svg {
    fill: $white;
  }
}

.button:hover {
  background-color: $white;
  background-image: $gradient;
  transition: 0.5s ease;

  h5 {
    color: $black;
  }

  svg {
    fill: $black;
  }
}

.chip {
  background: #61E8AF;
  padding: 0 2rem;
  border-radius: 100rem;
  width: fit-content;

  h5 {
    font-weight: bold;
  }
}

.link-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 50%;
  cursor: pointer;
  border-radius: 16px;
}

.link-item:hover {
  background-image: $gradient;
}

.menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-image: $gradientfull;
  height: 100vh;

  .paragraph40 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 4%;
  }

  h2 {
    text-align: center;
  }
}

@media only screen and (min-width: 4000px) {
  .button {
    height: 160px;
    border: $borderbig;
  }

  .download-icon {
    width: 64px;
    height: 64px;
  }

  body {
    gap: 280px;
  }

  .main {
    margin: 0 25%;
    gap: 280px;
  }

  .paragraph40 {
    gap: 10rem;
  }

  .paragraph24 {
    gap: 6rem;
  }

  .paragraph08 {
    gap: 2rem;
  }

  img,
  .link-item {
    border-radius: 48px;
  }

  .link-item {
    padding: 4rem;
  }

  .card {
    padding: 4rem;
    border-radius: 48px;
    border: $borderbig;
    box-shadow: $shadowbig;

    img {
      height: 40rem;
      border-radius: 24px;
    }
  }

  .hor {
    gap: 4rem;
  }

  .spaced img {
    width: 480px;
  }
}


@media only screen and (min-width: 2000px) and (max-width: 3999px) {
  .button {
    height: 80px;
    border: $borderbig;
  }

  .download-icon {
    width: 32px;
    height: 32px;
  }

  body {
    gap: 140px;
  }

  .main {
    margin: 0 25%;
    gap: 140px;
  }

  .paragraph40 {
    gap: 5rem;
  }

  .paragraph24 {
    gap: 3rem;
  }

  .paragraph08 {
    gap: 1rem;
  }

  img,
  .link-item {
    border-radius: 24px;
  }

  .card {
    padding: 2rem;
    border-radius: 24px;
    border: $borderbig;
    box-shadow: $shadowbig;

    img {
      height: 14rem;
      border-radius: 12px;
    }
  }

  .hor {
    gap: 2rem;
  }

  .spaced img {
    width: 240px;
  }
}

@media only screen and (max-width: 1024px) {
  .main {
    margin: 0 10%;
  }

  body {
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {

  body {
    gap: 64px;
  }

  .main {
    margin: 0 5%;
    gap: 64px;
  }

  .card img {
    height: 8rem;
  }

  .link-item {
    width: 65%;
  }

  .w60 {
    width: 100%;
  }

  .button {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {

body {
  margin-top: 5%;
}

  body,
  .main {
    gap: 40px;
  }

  .card {
    img {
      height: 6rem;
    }

    p {
      display: none;
    }
  }

  .link-item {
    width: 90%;
  }

  .hor {
    gap: 0.5rem;
  }

  footer .hor {
    flex-direction: column;
  }

  .spaced {
    flex-direction: column;
    gap: 20px;

    .paragraph08 {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 300px) {
  .menu .hor {
    flex-direction: column;
  }

  .card {
    flex-direction: column;
    text-align: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}