a {
  text-decoration: none;
  font-weight: 800;
}

.external {
  text-decoration: underline;
}

.external:hover {
  color: #5768BE;
}

h1,
h2,
h3 {
  font-family: bebas neue;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 140px;
  line-height: 140px;
}

h2 {
  font-size: 64px;
  line-height: 64px;
}

h3 {
  font-size: 48px;
  line-height: 48px;
}

h4,
h5,
p,
small {
  font-family: bricolage grotesque;
  margin: 0;
}

h4 {
  font-size: 28px;
}

h5,
.about p {
  font-size: 22px;
}

p {
  font-weight: 500;
  font-size: 18px;
}

.small {
  font-weight: 500;
  font-size: 14px;
}

ul {
  margin: 0;
}

@media only screen and (min-width: 4000px) {
  h1 {
    font-size: 440px;
    line-height: 440px;
  }
  h2 {
    font-size: 220px;
    line-height: 220px;
  }
  h3 {
    font-size: 160px;
    line-height: 160px;
  }
  h4 {
    font-size: 88px;
  }
  h5,
  .about p {
    font-size: 72px;
  }
  p {
    font-size: 64px;
  }
  .small {
    font-size: 48px;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3999px) {
  h1 {
    font-size: 200px;
    line-height: 200px;
  }
  h2 {
    font-size: 80px;
    line-height: 80px;
  }
  h3 {
    font-size: 64px;
    line-height: 64px;
  }
  h4 {
    font-size: 40px;
  }
  h5,
  .about p {
    font-size: 32px;
  }
  p {
    font-size: 24px;
  }
  .small {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
  }
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
  h3 {
    font-size: 32px;
    line-height: 32px;
  }
  h4 {
    font-size: 24px;
    line-height: 24px;
  }
  h5,
  .about p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 700px) {
  h4 {
    font-size: 20px;
  }
  h5,
  .about p {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .small {
    font-size: 12px;
  }
}
@media only screen and (max-width: 400px) {
  /*   h1 {
      font-size: 80px;
      line-height: 80px;
    }

    h2 {
      font-size: 40px;
      line-height: 40px;
    } */
  h3 {
    font-size: 24px;
    line-height: 24px;
  }
}
footer {
  align-items: center;
  background-image: linear-gradient(to bottom right, rgba(255, 0, 214, 0.3), rgba(87, 104, 190, 0.3), rgba(97, 232, 175, 0.3));
  padding: 2.5rem;
}
footer .paragraph24 {
  align-items: center;
}
footer p {
  opacity: 0.7;
  text-align: center;
}

footer a:hover,
.footer-link h2:hover,
.footer-link h3:hover,
.footer-link h4:hover {
  transform: scale(1.15);
}

@media only screen and (min-width: 2000px) and (max-width: 3999px) {
  footer {
    padding: 5rem;
  }
}
@media only screen and (min-width: 4000px) {
  footer {
    padding: 10rem;
  }
}
nav {
  position: fixed;
  width: 100vw;
  display: flex;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 1000;
}
nav img {
  border-radius: 0;
}

.nav-logo {
  height: 2.5rem;
  align-content: center;
}

.nav-items {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 1rem 20%;
  border-radius: 300px;
  border: 1px solid rgba(41, 41, 41, 0.2);
  background-color: rgba(255, 251, 244, 0.4);
  -webkit-backdrop-filter: blur(4rem);
          backdrop-filter: blur(4rem);
  padding: 0.5% 5%;
  box-shadow: 2px 2px 4px rgba(41, 41, 41, 0.1);
}

.nav-icons {
  cursor: pointer;
  align-content: center;
}

.menu-icon-hover,
.nav-icons:hover .menu-icon {
  display: none;
  transition: display 0.5s ease;
}

.nav-icons:hover .menu-icon-hover {
  display: flex;
  transition: display 0.5s ease;
}

.ticker-wrap {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.ticker {
  display: inline-block;
  animation: marquee 35s linear infinite;
}

.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 35s linear infinite;
}

.item {
  display: inline-block;
  padding: 0 1rem;
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%, 100% {
    left: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .nav-items {
    margin: 1rem 10%;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3999px) {
  .nav-logo {
    height: 4.5rem;
  }
  .nav-items {
    margin: 1.5rem 25%;
    border: 1.5px solid rgba(41, 41, 41, 0.2);
    box-shadow: 4px 4px 8px rgba(41, 41, 41, 0.1);
  }
}
@media only screen and (min-width: 4000px) {
  .nav-logo {
    height: 10rem;
  }
  .menu-icon,
  .menu-icon-hover {
    height: 4rem;
  }
  .nav-items {
    margin: 2.5rem 25%;
    border: 1.5px solid rgba(41, 41, 41, 0.2);
    box-shadow: 4px 4px 8px rgba(41, 41, 41, 0.1);
  }
}
@media only screen and (max-width: 700px) {
  .nav-items {
    margin: 0.5rem 5%;
  }
  .nav-logo,
  .nav-icons {
    height: 2.5rem;
  }
  .ticker-wrap {
    margin-top: 4%;
  }
}
@media only screen and (max-width: 400px) {
  nav .hor {
    display: none;
  }
  .nav-items {
    margin: 1rem 5%;
  }
}
* {
  color: #292929;
}

body {
  background-color: #FFFBF4;
  margin: 2% 0 0 0;
}

.main {
  margin: 0 20%;
}

body,
.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

img {
  max-width: 100%;
  border-radius: 16px;
}

.w60 {
  width: 60%;
}

.cent {
  align-items: center;
  justify-content: center;
}
.cent h2,
.cent p {
  text-align: center;
}

.hor {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav .hor {
  text-align: center;
}

.spaced {
  display: flex;
  justify-content: space-between;
}
.spaced .paragraph08 {
  width: 50%;
}
.spaced img {
  border-radius: 0;
}

hr {
  border: 1px solid rgba(41, 41, 41, 0.2);
  width: 100%;
}

.paragraph40 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.paragraph24 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.paragraph08 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.paragraph0 {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.card {
  padding: 1rem;
  align-items: center;
  border: 1px solid rgba(41, 41, 41, 0.2);
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(41, 41, 41, 0.1);
}
.card img {
  height: 10rem;
  border-radius: 8px;
}

.card:hover {
  background-image: linear-gradient(to bottom right, rgba(255, 0, 214, 0.1), rgba(87, 104, 190, 0.1), rgba(97, 232, 175, 0.1));
  transition: 0.5s ease;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding-right: 2%;
  background-color: #292929;
  border: 1px solid rgba(41, 41, 41, 0.2);
  border-radius: 100px;
  height: 42px;
  min-width: 50%;
}
.button h5 {
  color: #FFFBF4;
}
.button svg {
  fill: #FFFBF4;
}

.button:hover {
  background-color: #FFFBF4;
  background-image: linear-gradient(to bottom right, rgba(255, 0, 214, 0.1), rgba(87, 104, 190, 0.1), rgba(97, 232, 175, 0.1));
  transition: 0.5s ease;
}
.button:hover h5 {
  color: #292929;
}
.button:hover svg {
  fill: #292929;
}

.chip {
  background: #61E8AF;
  padding: 0 2rem;
  border-radius: 100rem;
  width: -moz-fit-content;
  width: fit-content;
}
.chip h5 {
  font-weight: bold;
}

.link-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 50%;
  cursor: pointer;
  border-radius: 16px;
}

.link-item:hover {
  background-image: linear-gradient(to bottom right, rgba(255, 0, 214, 0.1), rgba(87, 104, 190, 0.1), rgba(97, 232, 175, 0.1));
}

.menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, rgba(255, 0, 214, 0.3), rgba(87, 104, 190, 0.3), rgba(97, 232, 175, 0.3));
  height: 100vh;
}
.menu .paragraph40 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 4%;
}
.menu h2 {
  text-align: center;
}

@media only screen and (min-width: 4000px) {
  .button {
    height: 160px;
    border: 1.5px solid rgba(41, 41, 41, 0.2);
  }
  .download-icon {
    width: 64px;
    height: 64px;
  }
  body {
    gap: 280px;
  }
  .main {
    margin: 0 25%;
    gap: 280px;
  }
  .paragraph40 {
    gap: 10rem;
  }
  .paragraph24 {
    gap: 6rem;
  }
  .paragraph08 {
    gap: 2rem;
  }
  img,
  .link-item {
    border-radius: 48px;
  }
  .link-item {
    padding: 4rem;
  }
  .card {
    padding: 4rem;
    border-radius: 48px;
    border: 1.5px solid rgba(41, 41, 41, 0.2);
    box-shadow: 4px 4px 8px rgba(41, 41, 41, 0.1);
  }
  .card img {
    height: 40rem;
    border-radius: 24px;
  }
  .hor {
    gap: 4rem;
  }
  .spaced img {
    width: 480px;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3999px) {
  .button {
    height: 80px;
    border: 1.5px solid rgba(41, 41, 41, 0.2);
  }
  .download-icon {
    width: 32px;
    height: 32px;
  }
  body {
    gap: 140px;
  }
  .main {
    margin: 0 25%;
    gap: 140px;
  }
  .paragraph40 {
    gap: 5rem;
  }
  .paragraph24 {
    gap: 3rem;
  }
  .paragraph08 {
    gap: 1rem;
  }
  img,
  .link-item {
    border-radius: 24px;
  }
  .card {
    padding: 2rem;
    border-radius: 24px;
    border: 1.5px solid rgba(41, 41, 41, 0.2);
    box-shadow: 4px 4px 8px rgba(41, 41, 41, 0.1);
  }
  .card img {
    height: 14rem;
    border-radius: 12px;
  }
  .hor {
    gap: 2rem;
  }
  .spaced img {
    width: 240px;
  }
}
@media only screen and (max-width: 1024px) {
  .main {
    margin: 0 10%;
  }
  body {
    margin-top: 0;
  }
}
@media only screen and (max-width: 700px) {
  body {
    gap: 64px;
  }
  .main {
    margin: 0 5%;
    gap: 64px;
  }
  .card img {
    height: 8rem;
  }
  .link-item {
    width: 65%;
  }
  .w60 {
    width: 100%;
  }
  .button {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  body {
    margin-top: 5%;
  }
  body,
  .main {
    gap: 40px;
  }
  .card img {
    height: 6rem;
  }
  .card p {
    display: none;
  }
  .link-item {
    width: 90%;
  }
  .hor {
    gap: 0.5rem;
  }
  footer .hor {
    flex-direction: column;
  }
  .spaced {
    flex-direction: column;
    gap: 20px;
  }
  .spaced .paragraph08 {
    width: 100%;
  }
}
@media only screen and (max-width: 300px) {
  .menu .hor {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
    text-align: center;
  }
  .card img {
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=portfolio.css.map */