$background: #1e1e1e;
$mild: #737373;
$accent: #57F2B1;


* {
  color: white;
}

body {
  background: linear-gradient(to bottom right, #27005B, #2F3B77, #236147);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.external {
  font-weight: bolder;
}

a:hover {
  color: $accent;
}

.main {
  margin-top: 40px;
  margin-left: 24px;
  margin-right: 24px;
}

h1,
h2 {
  font-family: Londrina Solid;
  font-weight: 400;
  margin: 0px;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  align-self: end;
  background: none;
  margin-left: -112px;
}

h1:hover {
  font-size: 52px;
}

h2 {
  &.me {
    position: absolute;
    z-index: 1000;
  }

  min-width: fit-content;
  font-size: 18px;
}

p {
  margin: 0px;
  font-family: Bricolage Grotesque;
  font-size: 14px;
}

.menu-item-container,
.menu-item-container2 {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  background: transparent;
}

.menu-item-container {
  top: 40px;
  right: 24px;
  position: sticky;
}

.menu-item-container2 {
  bottom: 24px;
  left: 40px;
  position: absolute;
}

.menu-item,
.menu-item2 {
  width: 1px;
  overflow-x: visible;
  white-space: nowrap;
}

.menu-item {
  transform-origin: top left;
  position: sticky;
  transform: rotate(90deg);
}

.menu-item2 {
  transform: rotate(270deg);
}

.thumbnail {
  width: 128px;
  height: 256px;
  object-fit: cover;
  border-radius: 2rem;
}

.thumbnail-container {
  display: flex;
  width: 200px;
  margin-top: 120px;
  margin-bottom: 64px;
}

.external-link {
  display: inline-flex;
  position: absolute;
  padding-top: 40px;
  height: 16px;
  background: none;
}

.thumbnail-link:hover {
  text-decoration: none;
}

/* when the screen is more than 1200 px wide, make the images bigger */
@media screen and (min-width: 1200px) {
  .thumbnail-container .thumbnail {
    width: max-content;
    height: max-content;
  }

  h1 {
    margin-left: -160px;
  }
}



//ABOUT & CONTACT

.paragraph,
.subtitle {
  display: block;
  position: static;
  background: none;
  margin-top: 40px;
  margin-bottom: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
  top: 40px;
  width: 80%;
}

.contact-form {
  width: 100%;
}

.form-container {
  border-radius: 2rem;
  border: 0.5px solid $accent;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 24px;
  background-color: $background;
}

/* Style inputs and textareas */
input[type=text],
textarea {
  width: 100%;
  padding: 12px;
  border: 0.5px solid white;
  border-radius: 1rem;
  background-color: transparent;
  box-sizing: border-box;
  resize: vertical;
  font-family: Bricolage Grotesque;
  font-size: 14px;
  font-weight: 400;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  width: 75%;
  font-family: Bricolage Grotesque;
  color: $background;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  padding: 12px 20px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: $accent;
}


/* Floating column for labels */
.label-container {
  float: left;
  width: 25%;
  margin-top: 8px;
}

/* Floating column for inputs */
.input-container {
  float: left;
  width: 75%;
  margin-top: 8px;
}

.row {
  font-family: Bricolage Grotesque;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
}

::placeholder {
  color: $mild;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* when the screen is between 576 - 992 px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 576px),
(min-width: 992px) {

  .label-container,
  .input-container,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* when the screen is more than 992px wide, make paragraph and contact form stack next to each other instead of next to each other */
@media screen and (min-width: 992px) {
  .container {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }

  .paragraph {
    width: 40%;
  }

  .contact-form {
    width: 30%;
  }
}

/* when the screen is more than 1200px wide, gap between paragraph ad form larger */
@media screen and (min-width: 1200px) {
  .container {
    gap: 160px;
  }
}

.social {
  position: sticky;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  background: transparent;
}

.social-icon{
  align-self: flex-end;
  border-radius: 40px;
  fill: white;
}

.social-icon:hover {
  fill:$accent;
}

footer p {
  color: $mild;
}

footer {
  display: flex;
  justify-content: center;
}