nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-items: stretch;
  background-color: rgba(255, 251, 244, 0.25);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 0.5rem solid #0E0E0E;
}

.nav-logo {
  height: 3rem;
}

.nav-items {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 1rem 20rem 1rem 20rem;
}

.menu-icon-hover,
.nav-icons:hover .menu-icon {
  display: none;
}

.nav-icons:hover .menu-icon-hover {
  display: flex;
}

.ticker-wrap {
  margin-top: 6.5rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 0.5rem solid #0E0E0E;
}

.ticker {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 30s linear infinite;
}

.item {
  display: inline-block;
  padding: 0 1rem;
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%, 100% {
    left: 100%;
  }
}
a {
  text-decoration: none;
}

.external {
  text-decoration: underline;
}

p a {
  font-weight: 800;
}

p a:hover {
  color: #FFFBF4;
  transition: 0.5s ease;
}

h1,
h2,
h3 {
  font-family: bebas neue;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 200px;
  line-height: 200px;
}

h2 {
  font-size: 120px;
  line-height: 120px;
}

h3 {
  font-size: 64px;
  line-height: 64px;
}

h4 {
  font-family: bricolage grotesque;
  font-size: 32px;
}

h5 {
  font-family: bricolage grotesque;
  font-size: 24px;
  color: #FFFBF4;
}

p {
  font-family: bricolage grotesque;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

@media only screen and (min-width: 4000px) {
  h1 {
    font-size: 400px;
  }
  h2 {
    font-size: 320px;
    line-height: 320px;
  }
  h3 {
    font-size: 200px;
    line-height: 200px;
  }
  h4 {
    font-size: 120px;
  }
  h5 {
    font-size: 64px;
  }
  p {
    font-size: 48px;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3999px) {
  h1 {
    font-size: 280px;
  }
  h2 {
    font-size: 160px;
    line-height: 160px;
  }
  h3 {
    font-size: 80px;
    line-height: 80px;
  }
  h4 {
    font-size: 40px;
  }
  h5 {
    font-size: 32px;
  }
  p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 120px;
  }
  h2 {
    font-size: 72px;
    line-height: 72px;
  }
  h3 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 700px) {
  p {
    font-size: 14px;
  }
  h4 {
    font-size: 16px;
  }
  body {
    margin: 40px;
  }
}
* {
  color: #0E0E0E;
}

body {
  background-color: #FFFBF4;
  margin: 0;
}

.main {
  margin: 0 20rem;
}

body,
.main {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.hor {
  display: flex;
  gap: 1rem;
}

.projects-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.paragraph40 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.paragraph24 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 0px 24px 2px 16px;
  background-color: #0E0E0E;
  height: 48px;
}

.download-icon {
  fill: #FFFBF4;
  stroke: #FFFBF4;
}

.button:hover {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px #0E0E0E inset;
  transition: 0.5s ease;
}

.button:hover h4 {
  color: #0E0E0E;
}

.button:hover .download-icon {
  fill: #0E0E0E;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-end;
}

.thumbnail-container {
  height: 302px;
  position: relative;
  background-color: #0E0E0E;
}
.thumbnail-container h3 {
  position: absolute;
  top: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: 8px;
  background: linear-gradient(to bottom right, #FF00D6, #5768BE, #61E8AF);
  -webkit-text-fill-color: transparent;
  /*     -webkit-background-clip: text;
   */
  opacity: 0;
}

.thumbnail-container:hover .thumbnail {
  opacity: 0.2;
  transition: 0.5s ease;
}
.thumbnail-container:hover h3 {
  opacity: 1;
  transition: 0.5s ease;
}

.thumbnail-link {
  height: -moz-fit-content;
  height: fit-content;
}
.thumbnail-link p {
  padding-top: 0.25rem;
  width: 302px;
}

footer {
  align-items: center;
}

footer p {
  opacity: 0.7;
  text-align: center;
}

.footer-link:hover h3 {
  color: #FFFBF4;
  transition: 0.5s ease;
}

@media only screen and (min-width: 4000px) {
  .button {
    height: 160px;
  }
  .download-icon {
    width: 64px;
    height: 64px;
  }
  .thumbnail,
  .thumbnail-container {
    height: 1200px;
  }
  .thumbnail-container h3 {
    padding: 40px;
  }
  .thumbnail-link p {
    width: 1200px;
  }
  .projects-container {
    gap: 280px;
  }
  .projects {
    gap: 80px;
  }
  .paragraph {
    padding: 120px 160px 120px 160px;
    gap: 4rem;
  }
  .body-copy {
    gap: 4rem;
  }
  body,
  .main {
    gap: 280px;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 3999px) {
  .button {
    height: 80px;
  }
  .download-icon {
    width: 32px;
    height: 32px;
  }
  .thumbnail,
  .thumbnail-container {
    height: 400px;
  }
  .thumbnail-container h3 {
    padding: 24px;
  }
  .thumbnail-link p {
    width: 400px;
  }
  .projects-container {
    gap: 120px;
  }
  .projects {
    gap: 40px;
  }
  .paragraph {
    padding: 80px 120px 80px 120px;
    gap: 4rem;
  }
  .body-copy {
    gap: 2rem;
  }
  body,
  .main {
    gap: 160px;
  }
}
@media only screen and (max-width: 900px) {
  .paragraph {
    padding: 32px 40px 32px 40px;
  }
}
@media only screen and (max-width: 700px) {
  .projects-container {
    flex-direction: column;
  }
  .projects {
    justify-content: flex-start;
  }
  .thumbnail {
    opacity: 0.2;
  }
  .thumbnail-container h3 {
    opacity: 1;
  }
  .paragraph {
    gap: 1rem;
  }
  body,
  .main {
    gap: 80px;
  }
}
@media only screen and (max-width: 430px) {
  .thumbnail-container,
  .thumbnail {
    height: 240px;
  }
  .thumbnail-link p {
    width: 240px;
  }
  .projects {
    justify-content: center;
  }
  .projects-container h2 {
    margin-left: 40px;
  }
}/*# sourceMappingURL=portfolio.css.map */