@import './variables';
@import './topbar';
@import './typography';

* {
  color: $black;
}

body {
  background-color: $white;
  margin: 0;
}

.main {
  margin: 0 20%;
}

body,
.main {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.hor {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.paragraph40 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.paragraph24 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.paragraph08 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card {
  padding: 1rem;
  align-items: center;
  border: 1px solid rgba($black, 0.2);

  img {
    height: 10rem;
  }
}

.card:hover {
  border-color: $white;
  background-image: $gradient;
  transition: 1s ease;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 0px 24px 2px 16px;
  background-color: $black;
  height: 48px;

  h5 {
    color: $white;
  }
}

.download-icon {
  fill: $white;
}

.button:hover {
  background-color: $white;
  background-image: $gradient;
  transition: .5s ease;
}

.button:hover h5 {
  color: $black;
}

.button:hover .download-icon {
  fill: $black;
}

footer {
  align-items: center;
  background-image: $gradient;
  padding: 2.5rem;

  .paragraph24 {
    align-items: center;
  }

  p {
    opacity: 0.7;
    text-align: center;
  }
}

footer a:hover,
.footer-link h3:hover {
  color: $white;
  transition: .5s ease;
}


@media only screen and (min-width: 4000px) {
  .button {
    height: 160px;
  }

  .download-icon {
    width: 64px;
    height: 64px;
  }

  body,
  .main {
    gap: 280px;
  }

}




@media only screen and (min-width: 2000px) and (max-width: 3999px) {
  .button {
    height: 80px;
  }

  .download-icon {
    width: 32px;
    height: 32px;
  }

  body,
  .main {
    gap: 160px;
  }
}


@media only screen and (max-width: 1000px) {

  nav {
    height: 5rem;
  }
  .main {
    margin: 0 10%;
  }

}

@media only screen and (max-width: 700px) {

  body,
  .main {
    gap: 80px;
  }
}

@media only screen and (max-width: 430px) {

  
}